*, ::before, ::after{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: 'Mada-Bold';
  src: url('fonts/Cooper_Hewitt/Mada-Bold.ttf') format('truetype');
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  background-color:#a47864;
  font-family: 'Mada-Bold', sans-serif;
}

html{
  margin: 0;
  padding: 0;
  scroll-behavior: smooth !important;
}

.waiting{
  color:#E7E9E9;
  font-size: 80px;
}

.waiting2{
  color:#E7E9E9;
  font-size: 40px;
}

.waiting3{
  color:#E7E9E9;
  font-size: 80px;
  text-align: center;
  margin-top: 60px;
  margin-bottom: 60px;
}

.banniere {
  background-image: url('images/image4.jpeg');
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-left: 15%;
  color: white;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
  position: absolute;
  top: 0;
  left: 0;
  position: relative; /* Changer absolute en relative */
  min-height: 100vh;
  width: 100%;
  top: auto;
  left: auto;
}


.photo {
  background-image: url('images/image1.jpeg');
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  padding-left: 15%;
  padding-right: 2%;
  padding-top: 5%;
  color: white;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
  position: absolute;
  top: 0;
  left: 0;
  position: relative; /* Changer absolute en relative */
  min-height: 100vh;
  width: 100%;
  top: auto;
  left: auto;
  bottom: auto;
}

/* Media Queries pour les appareils mobiles */
@media screen and (max-width: 768px) {
  .waiting {
    font-size: 30px;
  }

  .waiting2 {
    font-size: 10px;
    display: none;
  }

  .waiting3 {
    font-size: 50px;
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .banniere {
    padding-left: 5%;
    min-height: 80vh;
  }

  .photo {
    padding-left: 5%;
    padding-right: 5%;
    min-height: 80vh;
  }

  footer {
    padding: 15px;
  }

  .nav-link-footer {
    font-size: 16px;
  }
}

/* Pour les très petits écrans */
@media screen and (max-width: 480px) {
  .waiting {
    font-size: 32px;
    margin-left: 10px;
  }

  .waiting2 {
    font-size: 20px;
  }

  .waiting3 {
    font-size: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .banniere {
    padding-left: 3%;
  }

  .photo {
    padding-left: 3%;
    padding-right: 3%;
  }
}

/* Pour s'assurer que le contenu ne dépasse pas sur les côtés */
@media screen and (max-width: 1024px) {
  body {
    overflow-x: hidden;
  }

  .banniere,
  .photo {
    width: 100%;
  }
}

/* Ajustements pour les tablettes */
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .waiting {
    font-size: 60px;
  }

  .waiting2 {
    font-size: 32px;
  }

  .waiting3 {
    font-size: 60px;
  }
}

footer {
  background-color: #FBEEDA;
  font-size: 20px;
  margin: 0 auto;
  padding: 20px;
  font-family: 'Mada-Bold', sans-serif;
}

footer a {
  font-family: 'Mada-Bold';
  text-decoration: none;
  color: #212529;

}

footer a:hover {
  color: brown;
}

.nav-link-footer {
  text-decoration: none;
  font-family: 'Mada-Bold';
  font-size: 20px;
}

.text{
  font-family: 'Mada-Bold';
  text-align: center;
  font-size:20px;
  margin-top: 150px;
  margin-bottom: 100px;
}

.hour {
  font-family: 'Mada-Bold';
  font-size: 20px;
}

.day {
  margin-right: 20px;
}

.copyright {
  text-align: center;
  margin-bottom: 0px;
  font-family: 'Mada-Bold';
  font-size: 15px;
}

@media (max-width: 991px) {
  .copyright {
    font-size: 12px;
    padding: 20px 10px 10px 10px !important;
  }
}

@media (max-width: 1300px) {
  .navbar-nav .nav-link {
    font-size: 12px; /* Ajustez la taille de la police selon vos besoins */
  }
}

a:visited {
  color: black;
}

a {
  color: black;
}
